@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />


<body>
    <div id="root"></div>
    <script src="~/js/site.js"></script>
</body>